@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Noto Sans KR", "Sunflower", sans-serif;
}

:root {
  --color-font: #212529;
  --color-border: #c8c9ca;
  /* --color-border: #444444; */
  --color-MCV-hover-bg: rgba(113, 44, 249, 0.1);

  --base-radius: 0.175rem;
  --base-transition: 0.3s;
}

.btn {
  border-radius: var(--base-radius);
  transition: var(--base-transition);
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}
