@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

/* btn */
:root {
  --base-btn-radius: 2px;
}

.btn {
  border-radius: var(--base-btn-radius);
}

/* animation */
:root {
  --base-transition: 0.3s;
}
